In [35]:
import pandas as pd
import numpy as np

In [36]:
my_data = [1,2,3]
labels = ['a', 'b', 'c']

In [37]:
s1 = pd.Series(my_data)
s1

0    1
1    2
2    3
dtype: int64

In [38]:
s = pd.Series(data = my_data, index=labels)

In [39]:
s

a    1
b    2
c    3
dtype: int64

In [40]:
arr = np.arange(3)
arr

array([0, 1, 2])

In [41]:
pd.Series(arr, labels)

a    0
b    1
c    2
dtype: int32

In [42]:
d = {'k1':1, 'k2':2}

In [43]:
pd.Series(d)

k1    1
k2    2
dtype: int64

In [44]:
pd.Series(labels)

0    a
1    b
2    c
dtype: object

In [45]:
pd.Series([sum, print, max])

0      <built-in function sum>
1    <built-in function print>
2      <built-in function max>
dtype: object

In [46]:
ser1 = pd.Series([1,2,3,4],['USA','Brazil','Canada','Japan'])

In [47]:
ser1

USA       1
Brazil    2
Canada    3
Japan     4
dtype: int64

In [48]:
ser2 = pd.Series([1,2,5,4], ['USA', 'Brazil','India','Japan'])

In [49]:
ser2

USA       1
Brazil    2
India     5
Japan     4
dtype: int64

In [50]:
ser1['USA']

1

In [51]:
ser1[0]

1

In [52]:
ser3 = pd.Series(labels)

In [53]:
ser3

0    a
1    b
2    c
dtype: object

In [30]:
ser3[1]

'b'

In [32]:
ser3[0]

'a'

In [54]:
ser1 + ser2

Brazil    4.0
Canada    NaN
India     NaN
Japan     8.0
USA       2.0
dtype: float64

In [55]:
ser1+ser3

0         NaN
1         NaN
2         NaN
Brazil    NaN
Canada    NaN
Japan     NaN
USA       NaN
dtype: object