In [14]:
import pandas as pd
import numpy as np

In [9]:
my_data = [1,2,3]
labels = ['a', 'b', 'c']

In [11]:
s1 = pd.Series(my_data)
s1

0    1
1    2
2    3
dtype: int64

In [12]:
s = pd.Series(data = my_data, index=labels)

In [13]:
s

a    1
b    2
c    3
dtype: int64

In [15]:
arr = np.arange(3)
arr

array([0, 1, 2])

In [16]:
pd.Series(arr, labels)

a    0
b    1
c    2
dtype: int32

In [17]:
d = {'k1':1, 'k2':2}

In [18]:
pd.Series(d)

k1    1
k2    2
dtype: int64

In [19]:
pd.Series(labels)

0    a
1    b
2    c
dtype: object

In [20]:
pd.Series([sum, print, max])

0      <built-in function sum>
1    <built-in function print>
2      <built-in function max>
dtype: object

In [22]:
ser1 = pd.Series([1,2,3,4],['USA','Brazil','Canada','Japan'])